@charset "utf-8";

	@keyframes click-wave {
	  0% {
	    height: 40px;
	    width: 40px;
	    opacity: 0.35;
	    position: relative;
	  }
	  100% {
	    height: 200px;
	    width: 200px;
	    margin-left: -80px;
	    margin-top: -80px;
	    opacity: 0;
	  }
	}
	.option-input {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  -o-appearance: none;
	  appearance: none;
	  position: relative;
	  top: 5px;
	  right: 0;
	  bottom: 0;
	  left: 37px;
	  height: 40px;
	  width: 40px;
	  transition: all 0.15s ease-out 0s;
	  background: white;
	  border: none;
	  color: #fff;
	  cursor: pointer;
	  display: inline-block;
	  margin-right: 0.5rem;
	  outline: none;
	  position: relative;
	  z-index: 1000;
	}
	.option-input:hover {
	  background: #9faab7;
	}
	.option-input:checked {
	  background: #000000;
	}
	.option-input:checked::before {
	  height: 40px;
	  width: 40px;
	  position: absolute;
	  content: '✔';
	  display: inline-block;
	  font-size: 26.66667px;
	  text-align: center;
	  line-height: 40px;
	}
	.option-input:checked::after {
/* 	  -webkit-animation: click-wave 0.65s; */
/* 	  -moz-animation: click-wave 0.65s; */
/*  	  animation: click-wave 0.65s;  */
	  background: black;
	  content: '';
	  display: inline-block;
	  position: relative;
	  z-index: 100;
	}
		img{
		top: 28%;
		left:32%;
		text-align: center;
		width:700px;
		height: 700px;
		opacity: 0.4;
		z-index: -5;
		position: absolute;
		}
	   #calendar{
	      border: 1px solid #000000;
	      border-collapse: collapse;
	   }
	   #calendar th{
	      width:80px;
	      background-color: #000000;
	      text-align: center;
	      
	   }
	   #calendar td{
	   	position:relative;
	      width:80px;
	      height:80px;
	      text-align: left;
	      vertical-align: top;
	   }
	   #list{
	   width: 564px;
	   display: none;
	   text-align:left;
	   }
	   #container{
	   width: 800px;
	   margin: 0 auto 0 auto;
	   }
	   #calendartitle {
	      border: 1px solid #000000;
	      border-collapse: collapse;
	      height: 90px;
	      margin: auto;
	      
	   }
	   table{
	      margin: auto;
	      border-collapse: collapse;
	      border-radius: 30px;
	      font-size: 17px;
	   }
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 33px;
	  height: 20px;
	  top:10px;
	}
	.switch input {display:none;}
	
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 13px;
	  width: 13px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
	input:checked + .slider {
	  background-color: black;
	}
	
	input:focus + .slider {
	  box-shadow: 0 0 1px black;
	}
	
	input:checked + .slider:before {
	  -webkit-transform: translateX(13px);
	  -ms-transform: translateX(13px);
	  transform: translateX(13px);
	}
	
	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}
	
	.slider.round:before {
	  border-radius: 50%;
	}
	
.view{position: relative;width: 800px; overflow: hidden; }
.cal_wrap{position: relative;}
.cal{float: left;width: 800px;height: 600px;}
	
	
/* 컨트롤 버튼을 담고있는 영역 css */
.control_wrap{
	position:absolute;
	top:580px;
/* 	left:380px; */
	 width: 100%;
 	text-align: center;
	height: 25px;
	overflow: hidden;
}

/* 컨트롤 버튼 css */
.control_btn{
	position:relative;
	border-radius:50px;
	width:13px;
	height:13px;
	display:inline-block;
	cursor: pointer;
	background-color: gray;
	margin: 5px;
}

/*
	컨트롤 버튼 에 마우스를 올렸을 경우와,
	예를들어 지금 보고있는 이미지가 1번 이미지일 경우!
	첫번째 버튼에 불이 들어와 있다는걸 표시하기 위한 클래스
*/
.control_btn:hover{	background-color: black;}
.control_btn.active{background-color: black;}
	
	
	